/* Write your CSS here */

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  list-style: none;

  padding: 15px;
}

.repos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repos-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.failure-image {
  height: 40%;
  width: 40%;
  text-align: center;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Lobster;
}
